

*{
    
    padding: 0px;
    box-sizing: border-boxa;
}


/* These styles are for Navbar */
.vl{
    border: 0.1px solid;
    height: 39px;
    background-color: rgb(255, 255, 255);
    margin: 0px 6px 0px 6px ;
}
#main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
}
#socialMedia{
    display: flex;
}
#searchBox{
    display: flex;
    width: 25%;
    justify-content: space-between;
    align-items: center;
}
input{
    border: none;
    outline: none;
    font-weight: bold;
}
a{
    padding: 10px;
    color: black;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
.bi-search:hover{
    cursor: pointer;

}
.bi-search{
    margin-left: 60px;
}
svg{
    width: 80%;
}




/* logo styles */

#logo{
    
    text-align: center;
}
#tags{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: -10px;
    align-items: center;
    font-weight: bold;
    font-size: 13px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
#tags>p:nth-child(2){
    color: gray;
}